<%- include('../partials/layout') %>
<h1>Applicants for <%= job.title %></h1>
<ul class="list-group">
  <% if (applicants && applicants.length > 0) { %>
    <% applicants.forEach(applicant => { %>
      <li class="list-group-item">
        <h3><%= applicant.name %></h3>
        <p><strong>Email:</strong> <%= applicant.email %></p>
        <p><strong>Resume:</strong> <a href="/uploads/<%= applicant.resume %>" download>Download</a></p>
      </li>
    <% }) %>
  <% } else { %>
    <li class="list-group-item">No applicants yet</li>
  <% } %>
</ul>
